.additional {
  margin-bottom: 35px;
}

.additional__header {
  margin-bottom: 36px;
}

// .additional__list {}

.additional__item {
  display: grid;
  padding-top: 13px;
  padding-bottom: 19px;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__title {
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
}

.additional__parameter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  font-family: @font-secondary;
}

// .additional__order {}
