.button {
  padding: 7px 20px;

  font-family: @font-primary;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: @color-accent;

  border: none;

  cursor: pointer;

  // &--more {}

  &--mobile_off {
    display: none;
  }

  // &--mobile_on {}
}
