.catalog {
  margin-bottom: 25px;
}

// .catalog__list {}

.catalog__item {
  &:first-child {
    border-top: 1px solid #ebebeb;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
}
