.compare {
  display: flex;
  justify-content: center;

  @media (min-width: @width-tablet) {
    justify-content: center;
    position: relative;
    z-index: 10;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: auto;
  }
}

.compare__image {
  & img {
    @media (min-width: @width-tablet) {
      width: auto;
      height: 512px;
    }
  }
}
