// .copyright {}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  font-family: @font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
