.example {
  position: relative;

  background-color: #eaeaea;

  @media (min-width: @width-tablet) {
    padding: 0;
    padding-bottom: 60px;

    background-color: transparent;
  }

  @media (min-width: @width-desktop) {
    padding-bottom: 30px;
  }

  &::before {
    @media (min-width: @width-tablet) {
      position: absolute;
      bottom: 0;
      content: "";
      height: 462px;
      width: 100%;

      background-color: #eaeaea;
    }

    @media (min-width: @width-desktop) {
      z-index: -1;
    }
  }
}

.example__wrapper {
  padding-top: 28px;
  padding-bottom: 40px;

  @media (min-width: @width-tablet) {
    padding-top: 0;
  }

  @media (min-width: @width-desktop) {
    display: flex;
    width: @width-desktop;
    margin: 0 auto;
  }
}

.example__text-wrapper {
  margin-bottom: 20px;

  @media (min-width: @width-tablet) {
    margin-bottom: 102px;
  }

  @media (min-width: @width-desktop) {
    width: 430px;
    margin: 0;
  }
}

.example__header {
  margin-bottom: 40px;

  @media (min-width: @width-tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 21px;

  font-family: @font-secondary;
  color: #444444;

  @media (min-width: @width-tablet) {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 70px;
    letter-spacing: -0.1px;
  }
}

.example__results {
  width: 50%;
  min-width: @width-mobile - 2*20px;
  margin: 0 auto;

  @media (min-width: @width-tablet) {
    min-width: @width-tablet - 2*30px;
  }

  @media (min-width: @width-desktop) {
    min-width: auto;
    width: 430px;
    margin-bottom: 0;
  }
}

.example__compare {
  @media (min-width: @width-desktop) {
    margin-left: 234px;
  }
}

.example__toggle {
  position: relative;
  width: 4px;
  padding: 0;

  border: none;
  border-radius: 2px;
  background-color: #666666;

  cursor: pointer;

  &::after {
    position: absolute;
    left: -18px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../../img/toggler.svg");
  }
}
