.example {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: #eaeaea;
}

.example__header {
  margin-bottom: 40px;
}

.example__description {
  margin-bottom: 20px;

  font-family: @font-secondary;
  color: #444444;
}

.example__results {
  margin-bottom: 20px;
}

// .example__compare {}

.example__toggle {
  width: 4px;
  padding: 0;

  border: none;
  color: transparent;
}
