.field {
  display: flex;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.field__input {
  padding: 14px 15px;
  margin-left: 13px;
  flex-grow: 1;

  font-family: @font-primary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  border: 1px solid #e7e7e7;

  &::placeholder {
    color: #444444;
  }
}

.field__textarea {
  margin-left: 0;
}

.field__label {
  display: flex;
  align-items: center;
  width: 100%;
}
