.goals {
  margin-bottom: 20px;
}

.goals__list {
  display: grid;

  @media (min-width: @width-desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.goals__item {
  &:not(:last-child) {
    @media (max-width: @width-desktop) {
      margin-bottom: 20px;
    }
  }
}
