// .main-navigation {}

.main-navigation__mobile {
  display: flex;
  justify-content: space-between;

  min-height: 65px;
  padding-top: 14px;
  padding-bottom: 14px;

  border-bottom: 1px solid #e6e6e6;
}

// .main-navigation__logo-icon {}

// .main-navigation__logo-name {}

// .main-navigation__list {}

.main-navigation__toggle {
  border: none;
  background: transparent;
}

.main-navigation__menu-wrapper {
  display: none;
}
