// .map {}

.map__invite {
  padding: 26px 0;
}

.map__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.map__address {
  font-family: @font-secondary;
  font-style: normal;
  line-height: 20px;
  color: #444444;
}

.map__address-city {
  margin: 0;
}

.map__image-wrapper {
  height: 362px;
}
