// .navigation {}

.navigation__item {
  @media (max-width: @width-mobile-only) {
    padding: 23px;

    text-align: center;
    border-bottom: 1px solid #e6e6e6;
  }

  // &:not(:last-child) {
  //   @media (min-width: @width-tablet) {
  //     margin-right: 34px;
  //   }

  // @media (min-width: @width-desktop) {
  //   margin-right: 34px;
  // }
  // }
}

.navigation__link {
  position: relative;

  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;

  &:focus-visible {
    outline-color: #000000;
    outline-offset: 5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @width-desktop) {
    letter-spacing: 0.5px;

    &:focus-visible {
      outline-color: #ffffff;
    }
  }

  &--current::after {
    @media (min-width: @width-tablet) {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: "";
      height: 2px;
      width: 100%;
      background-color: @color-accent;
    }
  }
}
