// .page-footer {}

.page-footer__navigation {
  display: flex;

  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (max-width: @width-mobile-only) {
    flex-direction: column;
  }

  @media (min-width: @width-tablet) {
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.page-footer__navigation-wrapper {
  padding-top: 19px;

  &:not(:last-child) {
    @media (max-width: @width-mobile-only) {
      padding-bottom: 19px;

      text-align: center;

      border-bottom: 1px solid #d9d9d9;
    }
  }

  @media (min-width: @width-tablet) {
    padding: 0;
  }
}
