// .request-form {}

.request__fieldsets-wrapper {
  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.request-form__group {
  padding: 0;
  margin: 0;

  border: none;
  border-top: 2px solid @color-accent;
}

.request-form__header {
  position: relative;
  padding: 0 20px;
  top: -2px;
  margin-bottom: 56px;

  @media (max-width: @width-mobile-only) {
    width: min-content;
  }

  @media (min-width: @width-tablet) {
    margin-left: 30px;
    padding-left: 40px;

    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: @width-desktop) {
    margin-left: 70px;
  }
}

.request-form__person {
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;

  border: none;

  @media (min-width: @width-tablet) {
    margin-bottom: 72px;
    margin-left: 70px;
    margin-right: 70px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    margin-left: 110px;
  }
}

.request-form__goal {
  padding-bottom: 19px;
  padding-top: 22px;
  margin-bottom: 26px;

  @media (max-width: @width-mobile-only) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: @width-tablet) {
    padding: 27px;
    margin-left: 70px;
    margin-right: 70px;

    border: 1px solid #d9d9d9;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    margin-right: 110px;
  }
}

.request-form__owner {
  margin-bottom: 24px;

  @media (max-width: @width-mobile-only) {
    & .request-form__header {
      top: 14px;
    }
  }
}

.request-form__owner-list {
  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.request-form__comment {
  margin-bottom: 24px;
}

.request-form__optional {
  margin-bottom: 34px;
}

.request-form__optional-list {
  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }

  @media (min-width: @width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.request-form__bottom {
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;

    text-align: left;
  }
}

.request-form__submit {
  margin-bottom: 21px;

  @media (max-width: @width-mobile-only) {
    width: 100%;
  }

  @media (min-width: @width-tablet) {
    max-width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.request-form__note {
  line-height: 16px;
}
