.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @width-tablet) {
    justify-content: flex-start;
  }
}

.results dd {
  margin: 0;
}

.results__item {
  position: relative;
  width: 124px;
  height: 56px;
  padding-top: 13px;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (max-width: @width-mobile-only) {
    margin-bottom: 34px;
  }

  @media (min-width: @width-tablet) {
    margin-right: 42px;
    width: 162px;
    height: 72px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 54px;
  }

  &:nth-child(2) {
    @media (min-width: @width-tablet) {
      margin: 0;
    }

  }

  &--final {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    text-transform: uppercase;
    line-height: 20px;

    border: none;

    @media (min-width: @width-tablet) {
      flex-direction: column;
      align-items: flex-end;
      width: auto;
      margin-left: auto;

      font-size: 20px;
      line-height: 29px;
    }

    @media (min-width: @width-desktop) {
      flex-direction: row;
      margin: 0;
    }

    & dt {
      @media (min-width: @width-desktop) {
        margin-right: 63px;
      }
    }
  }
}

.results__title {
  font-family: @font-secondary;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  color: #444444;

  position: absolute;
  bottom: -16px;
  right: 20px;
  left: 20px;
  background-color: #eaeaea;

  @media (min-width: @width-tablet) {
    bottom: -5px;
    right: 10px;
    left: 10px;
    font-size: 14px;
    line-height: 1;
    background-color: #ffffff;
  }

  @media (min-width: @width-desktop) {
    background-color: #eaeaea;
  }
}

.results__description {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @width-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}
