.stage {
  position: relative;

  counter-increment: number;

  @media (min-width: @width-tablet) {
    width: 250px;
  }

  &--first {
    & .stage__description::before {
      background-image: url("../../img/stages/stage-01.svg");
    }
  }

  &--second {
    & .stage__description::before {
      background-image: url("../../img/stages/stage-02.svg");
    }
  }

  &--third {
    & .stage__description::before {
      background-image: url("../../img/stages/stage-03.svg");
    }
  }

  &--fourth {
    & .stage__description::before {
      background-image: url("../../img/stages/stage-04.svg");
    }
  }
}

.stage__description {
  margin: 0;
  margin-left: 80px;

  font-family: @font-secondary;
  color: #444444;

  @media (min-width: @width-tablet) {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
  }

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @color-accent;
    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width: @width-mobile-only) {
      position: absolute;
      left: 0;
      top: 0;
    }

    @media (min-width: @width-tablet) {
      margin-bottom: 30px;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: @width-tablet) {
      position: absolute;
      content: counter(number);
      left: 90px;
      top: -40px;
      z-index: -1;

      font-family: @font-primary;
      font-size: 280px;
      line-height: 1;
      color: #f2f2f2;
    }
  }
}
