.stage {
  // display: grid;
  min-height: 60px;

  // &--first {}

  // &--second {}

  // &--third {}

  // &--fourth {}
}

.stage__description {
  width: 200px;
  margin-left: 20px;

  font-family: @font-secondary;
  color: #444444;
}
