// COLORS
@color-accent: #68B738;
// ч/б оттенки скорее всего обзывать не буду
// 000000
// 111111
// 222222
// #444444
// 666666
// CDCDCD
// EBEBEB
// F2F2F2
// ffffff
// FF8282
// 5EAA2F


// FONTS
@font-primary: "Oswald", "Arial", sans-serif;
@font-secondary: "Leto", "Arial", sans-serif;

// BREAKPOINTS
@width-mobile: 320px;
@width-mobile-only: 767px;
@width-tablet: 768px;
@width-desktop: 1440px;
